In [2]:

import sys
sys.path.append('../src')


import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
# from ..data_prep.feature_engineering import *
from models.models_definition import *



model = SlModel(LogisticRegression(multi_class="ovr"))
xt, xd, yt, yd = ram_splitting_rows("../data/custom/train_test_splitting_set.parquet", .35, "../data/custom/X_fe_full0.parquet", 0.75)

MemoryError: Unable to allocate 798. MiB for an array with shape (5, 41845138) and data type float32

In [2]:
print(yt)
print(yt.ravel())

2           0
3           0
4           0
5           0
6           0
           ..
93525475    0
93525476    0
93525477    0
93525478    0
93525479    0
Name: event, Length: 59400178, dtype: object
[0 0 0 ... 0 0 0]

In [ ]:
model.train(xt,yt)

In [ ]:
print(model.predict(xd))

In [10]:
ss.loc[25]['max_index']
X.loc[:25]

       series_id  min_index  max_index
0   038441c925bb          2     389879
1   03d92c9f6f8a     389880    1114019
2   0402a003dae9    1114020    1511279
3   04f547b8017d    1511280    2148839
4   05e1944c3818    2148840    2549699
5   062cae666e2a    2549700    2992139
6   062dbd4c95e6    2992140    3770819
7   08db4255286f    3770820    4211099
8   0a96f4993bd7    4211100    4467959
9   0cd1e3d0ed95    4467960    4838219
10  0ce74d6d2106    4838220    5443379
11  0cfc06c129cc    5443380    5828039
12  0d0ad1e77851    5828040    6232859
13  0dee4fda51c3    6232860    6643979
14  0ec9fc461819    6643980    7216919
15  0ef7d94fde99    7216920    7579799
16  0f572d690310    7579800    8095679
17  0f9e60a8e56d    8095680    8362439
18  10469f6765bf    8362440    8765459
19  1087d7b0ff2e    8765460    9176399
20  10f8bc1f7b07    9176400    9568799
21  12d01911d509    9568800   10313279
22  1319a1935f48   10313280   10915199
23  137771d19ca2   10915200   11339279
24  137b99e936ab   11339280   11921219
25  13b4d6a01d27   11921220   12345839

In [8]:
print(int(X.shape[0]*0.35))
XX = X[:int(X.shape[0]*0.35)]
XX

96

       series_id  min_index  max_index
0   038441c925bb          2     389879
1   03d92c9f6f8a     389880    1114019
2   0402a003dae9    1114020    1511279
3   04f547b8017d    1511280    2148839
4   05e1944c3818    2148840    2549699
..           ...        ...        ...
91  55b7f5c99930   41320620   41940899
92  599ca4ed791b   41940900   42542459
93  5aad18e7ce64   42542460   42952859
94  5acc9d63b5fd   42952860   43360739
95  5c088d7e916c   43360740   43748819

[96 rows x 3 columns]

In [2]:
X, X_dev, y, y_dev = train_test_split(X,y, test_size=0.35)

In [12]:
t = {'series_id': [], "min_index": [], "max_index": []}
for i in X['series_id'].unique():
    t['series_id'].append(i)
    t['min_index'].append(X[X['series_id'] == i].index.min())  
    t['max_index'].append(X[X['series_id'] == i].index.max())
t= pd.DataFrame(t)
t

        series_id  min_index  max_index
0    3be1545083b7   31070520   31480198
1    e586cbfa7762  113643720  114282899
2    d5be621fd9aa  102571740  102957839
3    a88088855de5   78577380   78770159
4    844f54dcab89   61227181   61621559
..            ...        ...        ...
272  0cfc06c129cc    5443380    5828038
273  ca732a3c37f7   95146920   95466059
274  8e32047cbc1f   67248720   67654259
275  d515236bdeec  102336121  102571737
276  3a9a9dc2cbd9   30372480   30475979

[277 rows x 3 columns]

In [30]:
t.head()

      series_id  min_index  max_index
0  3be1545083b7   31070520   31480198
1  e586cbfa7762  113643720  114282899
2  d5be621fd9aa  102571740  102957839
3  a88088855de5   78577380   78770159
4  844f54dcab89   61227181   61621559

In [29]:
for i in range(t.head().shape[0]):
    print(t.iloc[i]['min_index'])

31070520
113643720
102571740
78577380
61227181

In [14]:
t.to_parquet("../data/custom/train_test_splitting_set.parquet")

In [10]:
print(X[X['series_id'] == "3be1545083b7"].index.min())
print(X[X['series_id'] == "3be1545083b7"].index.max())

31480198
31070520

In [27]:
X.loc[31480198]

X.loc[31070520:31480198]['series_id'].unique()
# X.head()

array(['3be1545083b7'], dtype=object)

In [31]:
test = pd.DataFrame(columns=t.columns)
test

Empty DataFrame
Columns: [series_id, min_index, max_index]
Index: []

In [32]:
pd.concat([t, test])

        series_id  min_index  max_index
0    3be1545083b7   31070520   31480198
1    e586cbfa7762  113643720  114282899
2    d5be621fd9aa  102571740  102957839
3    a88088855de5   78577380   78770159
4    844f54dcab89   61227181   61621559
..            ...        ...        ...
272  0cfc06c129cc    5443380    5828038
273  ca732a3c37f7   95146920   95466059
274  8e32047cbc1f   67248720   67654259
275  d515236bdeec  102336121  102571737
276  3a9a9dc2cbd9   30372480   30475979

[277 rows x 3 columns]