In [25]:
import pandas as pd 

from sklearn.model_selection import train_test_split
# from ..data_prep.feature_engineering import *


X = pd.read_parquet("../data/custom/X_fe_full0.parquet")
y = X.pop("event")

In [2]:
X, X_dev, y, y_dev = train_test_split(X,y, test_size=0.35)

In [12]:
t = {'series_id': [], "min_index": [], "max_index": []}
for i in X['series_id'].unique():
    t['series_id'].append(i)
    t['min_index'].append(X[X['series_id'] == i].index.min())  
    t['max_index'].append(X[X['series_id'] == i].index.max())
t= pd.DataFrame(t)
t

        series_id  min_index  max_index
0    3be1545083b7   31070520   31480198
1    e586cbfa7762  113643720  114282899
2    d5be621fd9aa  102571740  102957839
3    a88088855de5   78577380   78770159
4    844f54dcab89   61227181   61621559
..            ...        ...        ...
272  0cfc06c129cc    5443380    5828038
273  ca732a3c37f7   95146920   95466059
274  8e32047cbc1f   67248720   67654259
275  d515236bdeec  102336121  102571737
276  3a9a9dc2cbd9   30372480   30475979

[277 rows x 3 columns]

In [30]:
t.head()

      series_id  min_index  max_index
0  3be1545083b7   31070520   31480198
1  e586cbfa7762  113643720  114282899
2  d5be621fd9aa  102571740  102957839
3  a88088855de5   78577380   78770159
4  844f54dcab89   61227181   61621559

In [29]:
for i in range(t.head().shape[0]):
    print(t.iloc[i]['min_index'])

31070520
113643720
102571740
78577380
61227181

In [14]:
t.to_parquet("../data/custom/train_test_splitting_set.parquet")

In [10]:
print(X[X['series_id'] == "3be1545083b7"].index.min())
print(X[X['series_id'] == "3be1545083b7"].index.max())

31480198
31070520

In [27]:
X.loc[31480198]

X.loc[31070520:31480198]['series_id'].unique()
# X.head()

array(['3be1545083b7'], dtype=object)

In [31]:
test = pd.DataFrame(columns=t.columns)
test

Empty DataFrame
Columns: [series_id, min_index, max_index]
Index: []

In [32]:
pd.concat([t, test])

        series_id  min_index  max_index
0    3be1545083b7   31070520   31480198
1    e586cbfa7762  113643720  114282899
2    d5be621fd9aa  102571740  102957839
3    a88088855de5   78577380   78770159
4    844f54dcab89   61227181   61621559
..            ...        ...        ...
272  0cfc06c129cc    5443380    5828038
273  ca732a3c37f7   95146920   95466059
274  8e32047cbc1f   67248720   67654259
275  d515236bdeec  102336121  102571737
276  3a9a9dc2cbd9   30372480   30475979

[277 rows x 3 columns]